/* styles.css */
.container-scroll {
    overflow-y: scroll;
    height: 100vh;
  }
  
  .table-container {
    max-height: 20vh;
    overflow-y: auto;
  }
  
  .table-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  .cell-no-padding {
    padding: 0 !important;
    height: 100%;
  }

  .form-control-flat {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
    padding: 3px 10px;
    margin: 0;
    border: none;    
  }
  
  .form-control-flat:focus {
    border-color: #80bdff;
    box-shadow: none;
  }