/* Forms */

label {
  display: block;
  margin-bottom: 0.5rem;
}

fieldset {
  border: 0;
  padding: 0;

  &[disabled] {
    opacity: 0.4;
  }
}

input,
select,
textarea {
  width: 100%;
  background: white;
  border: 1px solid color(black alpha(30%));
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  color: gray;

  &:focus {
    outline: 0;
    border-color: dodgerblue;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.toggleSync {
  display: inline-block;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;

  label {
    margin-left: 0.25rem;
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top: 1px;
  }

  input {
    margin-left: 0.5rem;
  }
}
.toggleSync.form-switch .form-check-input {
  width: 2.5em;
}
.text-muted {
  color: gray;
}

.sync .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

.sync .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.sync .btn-group {
  border-radius: 0;
}

.sync .btn-group > .btn {
  border: 0px;
}
.sync .btn:disabled {
  opacity: 0.4;
}

.sync .card.disabled {
  background: #ededed !important;
  border-color: #ededed;
}
.sync .card {
  /* gradient background  white to light green */
  background: linear-gradient(to bottom, white, #7cac7c);
  border-color: #7cac7c;
  border: 1.5px solid #7cac7c;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.sync .card > .list-group {
  border-top: none;
  border-bottom: none;
}

.sync .list-group-item {
  border: none;
  padding: 0.25rem 0.5rem;
}

.loading-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* Modal alert */

.alert-message .modal-title {
  font-size: 2.5vh;
  margin: auto 1vh;
}
.alert-message .modal-title-error {
  font-size: 1.7vh;
  line-height: 1.7vh;
  font-weight: bold;
  margin: auto 1vh;
}

.alert-message .modal-body {
  font-size: 1.7vh;
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
}

.alert-message .modal-content {
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
}

.alert-message .modal-header {
  border-bottom: 0px;
  padding: 0.5rem;
}
.alert-message .bg-success {
  background-color: #7cac7c !important;
}
.alert-message .bg-danger {
  background-color: #e47681 !important;
}

.tooltip-bookmark .tooltip-inner {
  max-width: 550px;
  width: auto; 
}